.dbPieChart {
	position: relative;
}
.title {
	text-align: center;
	font-size: 24px;
	font-weight: 500;
}
.chartArea {
	position: relative;
}
.chartDetails {
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	display: table;
}
.chartDetails > div {
	display: table-cell;
	vertical-align: middle;
}

.chartDetails > div div {
	width: 110px;
	margin: 0 auto;
}
